table{
 border-collapse: collapse;

}
th{
  background: grey;
  border: 1px black solid;
}
td{
  border: 1px black solid;
}
tr:nth-child(odd){
  background: white;
}
tr:nth-child(even){
  background: lightgrey;
}
